RewriteEngine on
RewriteRule ^\.well-known\/acme-challenge\/ - [L] # then exclude acme challenge urls from rewriting

RewriteRule ^css/(.*)$ css/$1 [L]
RewriteRule ^img/(.*)$ img/$1 [L]
RewriteRule ^js/(.*)$ js/$1 [L]

RewriteRule .* index.php [L]